
{% extends "reviewApp/base.html" %}

{% block content %}

<h1> About Technology Reviews </h1>




<body>


<p> <img src= "/media/About.jpeg" alt="" style= "width:700x; height:400px;"> </p>


<section>
 <hr>
  <p>Lorem ipsum dolor sit amet, vim ne aeque fastidii evertitur, ut liber erant altera pri. Cum viris fierent intellegat ei. Ut eam duis paulo epicurei. Ei pericula tractatos nec, mentitum vivendum honestatis sea ex. Mei ut recusabo explicari, pro quem iisque integre at, sed agam decore in. Legimus graecis albucius ne mea.

Ea utamur scaevola pro. Pri ne nonumes omittam, vidisse epicuri sed cu, ad ridens iudicabit philosophia mei. An vim equidem accumsan, ei usu contentiones deterruisset. Id graeco conceptam his, an audiam propriae ius. Exerci oportere sed ad, phaedrum posidonium ex cum. His in salutandi disputando. Pri quem detracto scaevola et.

Modo ceteros mel id, ex usu quidam feugait. Dicit tincidunt mnesarchum ei sit. Cum ut primis propriae, cu eam mundi explicari. Eam eu nibh disputando. Principes intellegam his ad, vide scripserit suscipiantur usu ad. Tincidunt referrentur has no, et quem aperiam vim.

Eam probo invenire dissentiet ad, sea et vero detracto consetetur, nihil expetenda torquatos ea sit. An usu elit vivendum, has eu novum efficiantur. Ei pro scripta deleniti, ut eam vivendo civibus. Dicam conceptam referrentur mei at, te oporteat expetenda ocurreret mea. Mel ei eros salutandi gloriatur, sed iisque inimicus ea.</p>
</section>



{% endblock content %}